In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
diabetic_df = pd.read_csv("Diabetic_2015.csv", error_bad_lines=False)

In [5]:
grocerie_df = pd.read_csv("DataDownload2015.csv")

In [6]:
diabetic_df = diabetic_df.dropna(how='any')

In [9]:
diabetic_df = diabetic_df[['County', 'State', 'FIPS', 'Percentage']]
diabetic_df['FIPS'] = diabetic_df['FIPS'].astype('int')
diabetic_df.head()

           County    State  FIPS Percentage
0  Autauga County  Alabama  1001         13
1  Baldwin County  Alabama  1003        9.3
2  Barbour County  Alabama  1005       16.2
3     Bibb County  Alabama  1007       13.7
4   Blount County  Alabama  1009       12.4

In [6]:
columns = grocerie_df.columns

for x in columns:
    print(x)

CensusTract
FIPS
State
County
Urban
POP2010
OHU2010
GroupQuartersFlag
NUMGQTRS
PCTGQTRS
LILATracts_1And10
LILATracts_halfAnd10
LILATracts_1And20
LILATracts_Vehicle
HUNVFlag
LowIncomeTracts
PovertyRate
MedianFamilyIncome
LA1and10
LAhalfand10
LA1and20
LATracts_half
LATracts1
LATracts10
LATracts20
LATractsVehicle_20
LAPOP1_10
LAPOP05_10
LAPOP1_20
LALOWI1_10
LALOWI05_10
LALOWI1_20
lapophalf
lapophalfshare
lalowihalf
lalowihalfshare
lakidshalf
lakidshalfshare
laseniorshalf
laseniorshalfshare
lawhitehalf
lawhitehalfshare
lablackhalf
lablackhalfshare
laasianhalf
laasianhalfshare
lanhopihalf
lanhopihalfshare
laaianhalf
laaianhalfshare
laomultirhalf
laomultirhalfshare
lahisphalf
lahisphalfshare
lahunvhalf
lahunvhalfshare
lasnaphalf
lasnaphalfshare
lapop1
lapop1share
lalowi1
lalowi1share
lakids1
lakids1share
laseniors1
laseniors1share
lawhite1
lawhite1share
lablack1
lablack1share
laasian1
laasian1share
lanhopi1
lanhopi1share
laaian1
laaian1share
laomultir1
laomultir1share
lahisp1
lahisp1share
lahunv1
lahunv1share
lasnap1
lasnap1share
lapop10
lapop10share
lalowi10
lalowi10share
lakids10
lakids10share
laseniors10
laseniors10share
lawhite10
lawhite10share
lablack10
lablack10share
laasian10
laasian10share
lanhopi10
lanhopi10share
laaian10
laaian10share
laomultir10
laomultir10share
lahisp10
lahisp10share
lahunv10
lahunv10share
lasnap10
lasnap10share
lapop20
lapop20share
lalowi20
lalowi20share
lakids20
lakids20share
laseniors20
laseniors20share
lawhite20
lawhite20share
lablack20
lablack20share
laasian20
laasian20share
lanhopi20
lanhopi20share
laaian20
laaian20share
laomultir20
laomultir20share
lahisp20
lahisp20share
lahunv20
lahunv20share
lasnap20
lasnap20share
TractLOWI
TractKids
TractSeniors
TractWhite
TractBlack
TractAsian
TractNHOPI
TractAIAN
TractOMultir
TractHispanic
TractHUNV
TractSNAP

## This Kernel below splits the data between urban vs rural and we will being creating urban data first.

In [10]:
new_grocery = grocerie_df[['CensusTract', 'FIPS', 'State', 'County', 'Urban', 'POP2010', 'OHU2010', 'PovertyRate', 'MedianFamilyIncome', 'TractLOWI', 'TractKids', 'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI',
       'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'LA1and10', 'LAhalfand10', 'LA1and20', 
        'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20']]
new_grocery = new_grocery[new_grocery.Urban != 0]

In [11]:
new_grocery

,CensusTract,FIPS,State,County,Urban,POP2010,OHU2010,PovertyRate,MedianFamilyIncome,TractLOWI,...,TractOMultir,TractHispanic,TractHUNV,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20
0,1001020100,1001,Alabama,Autauga,1,1912,693,10.0,74750,448,...,45,44,26,1,1,1,1,1,0,0
1,1001020200,1001,Alabama,Autauga,1,2170,743,18.2,51875,763,...,55,75,87,0,1,0,1,0,0,0
2,1001020300,1001,Alabama,Autauga,1,3373,1256,19.1,52905,1578,...,117,87,108,1,1,1,1,1,0,0
3,1001020400,1001,Alabama,Autauga,1,4386,1722,3.3,68079,1241,...,74,85,19,1,1,1,1,1,0,0
4,1001020500,1001,Alabama,Autauga,1,10766,4082,8.5,77819,2692,...,310,355,198,1,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72850,56037971200,56037,Wyoming,Sweetwater,1,2524,1053,9.9,101645,451,...,113,234,14,1,1,1,1,1,0,0
72853,56039967701,56039,Wyoming,Teton,1,2271,975,7.3,78310,549,...,320,445,16,1,1,1,1,1,0,0
72860,56043000301,56043,Wyoming,Washakie,1,2665,1154,14.5,52474,1214,...,220,446,114,0,1,0,1,0,0,0
72861,56043000302,56043,Wyoming,Washakie,1,2542,1021,12.7,66250,742,...,182,407,82,0,1,0,1,0,0,0
72863,56045951300,56045,Wyoming,Weston,1,3894,1699,15.0,68966,1390,...,126,125,95,1,1,1,1,1,0,0

We now have to split the grocery store data into two different data frames. So when we do a groupby some of the values need to be summed together and other values need to be averaged.

Summed:
1. POP2010
2. OHU2010
3. TractLOWI
4. TractKids
5. TractSeniors
6. TractWhite
7. TractBlack
8. TractAsian
9. TractNHOPI
10. TractAIAN
11. TractOMultir
12. TractHispanic
13. TractHUNV

Averaged:
1. PovertyRate
2. MedianFamilyIncome
3. LA1and10
4. LAhalfand10
5. LA1and20
6. LATracts_half
7. LATract1
8. LAtract10
9. LAtract20

In [12]:
new_grocery.columns

Index(['CensusTract', 'FIPS', 'State', 'County', 'Urban', 'POP2010', 'OHU2010',
       'PovertyRate', 'MedianFamilyIncome', 'TractLOWI', 'TractKids',
       'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI',
       'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'LA1and10',
       'LAhalfand10', 'LA1and20', 'LATracts_half', 'LATracts1', 'LATracts10',
       'LATracts20'],
      dtype='object')

In [13]:
summed_grocery = new_grocery[['FIPS', 'POP2010', 'OHU2010','TractLOWI', 'TractKids',
       'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI',
       'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV']]
summed_grocery

,FIPS,POP2010,OHU2010,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV
0,1001,1912,693,448,507,221,1622,217,14,0,14,45,44,26
1,1001,2170,743,763,606,214,888,1217,5,0,5,55,75,87
2,1001,3373,1256,1578,894,439,2576,647,17,5,11,117,87,108
3,1001,4386,1722,1241,1015,904,4086,193,18,4,11,74,85,19
4,1001,10766,4082,2692,3162,1126,8666,1437,296,9,48,310,355,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72850,56037,2524,1053,451,562,405,2350,20,20,1,20,113,234,14
72853,56039,2271,975,549,349,286,1908,2,28,4,9,320,445,16
72860,56043,2665,1154,1214,674,399,2377,5,23,0,40,220,446,114
72861,56043,2542,1021,742,614,516,2312,11,10,1,26,182,407,82
72863,56045,3894,1699,1390,918,650,3706,6,10,2,44,126,125,95

In [14]:
grouped_summed_grocery = summed_grocery.groupby(['FIPS']).sum()
grouped_summed_grocery

,POP2010,OHU2010,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV
FIPS,,,,,,,,,,,,,
1001,29166,10995,9466,7878,3675,22922,4886,372,22,110,854,920,621
1003,82744,34255,28886,18559,15294,69163,9750,787,47,429,2568,3440,1385
1005,6638,2685,3147,1878,973,2992,3351,41,20,8,226,317,247
1009,7050,2748,2942,1554,1495,6170,178,25,5,16,656,941,199
1011,7102,2117,2741,1563,818,1351,5095,19,43,11,583,725,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56033,17878,7908,5081,3890,2813,16971,75,150,19,181,482,751,603
56037,18426,6917,4283,4828,1554,16357,197,167,17,146,1542,2690,199
56039,2271,975,549,349,286,1908,2,28,4,9,320,445,16
56043,5207,2175,1956,1288,915,4689,16,33,1,66,402,853,196
56045,3894,1699,1390,918,650,3706,6,10,2,44,126,125,95

In [15]:
averaged_grocery = new_grocery[['FIPS','PovertyRate', 'MedianFamilyIncome', 'LA1and10', 'LAhalfand10', 'LA1and20', 'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20']]
averaged_grocery

,FIPS,PovertyRate,MedianFamilyIncome,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20
0,1001,10.0,74750,1,1,1,1,1,0,0
1,1001,18.2,51875,0,1,0,1,0,0,0
2,1001,19.1,52905,1,1,1,1,1,0,0
3,1001,3.3,68079,1,1,1,1,1,0,0
4,1001,8.5,77819,1,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
72850,56037,9.9,101645,1,1,1,1,1,0,0
72853,56039,7.3,78310,1,1,1,1,1,0,0
72860,56043,14.5,52474,0,1,0,1,0,0,0
72861,56043,12.7,66250,0,1,0,1,0,0,0
72863,56045,15.0,68966,1,1,1,1,1,0,0

In [16]:
grouped_averaged_grocery = averaged_grocery.groupby(['FIPS']).mean()
grouped_averaged_grocery

,PovertyRate,MedianFamilyIncome,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20
FIPS,,,,,,,,,
1001,14.228571,62327.428571,0.857143,1.0,0.857143,1.0,0.857143,0.0,0.0
1003,14.571429,62920.142857,0.928571,1.0,0.928571,1.0,0.928571,0.0,0.0
1005,20.350000,46362.000000,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0
1009,19.200000,50477.000000,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0
1011,19.500000,51000.000000,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...
56033,9.725000,67984.000000,0.750000,1.0,0.750000,1.0,0.750000,0.0,0.0
56037,11.800000,88532.500000,0.666667,1.0,0.666667,1.0,0.666667,0.0,0.0
56039,7.300000,78310.000000,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0
56043,13.600000,59362.000000,0.000000,1.0,0.000000,1.0,0.000000,0.0,0.0
56045,15.000000,68966.000000,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0

In [17]:
merged_grouped_data = pd.merge(grouped_summed_grocery, grouped_averaged_grocery, on="FIPS", how="outer")
merged_grouped_data

,POP2010,OHU2010,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,...,TractHUNV,PovertyRate,MedianFamilyIncome,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,29166,10995,9466,7878,3675,22922,4886,372,22,110,...,621,14.228571,62327.428571,0.857143,1.0,0.857143,1.0,0.857143,0.0,0.0
1003,82744,34255,28886,18559,15294,69163,9750,787,47,429,...,1385,14.571429,62920.142857,0.928571,1.0,0.928571,1.0,0.928571,0.0,0.0
1005,6638,2685,3147,1878,973,2992,3351,41,20,8,...,247,20.350000,46362.000000,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0
1009,7050,2748,2942,1554,1495,6170,178,25,5,16,...,199,19.200000,50477.000000,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0
1011,7102,2117,2741,1563,818,1351,5095,19,43,11,...,405,19.500000,51000.000000,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56033,17878,7908,5081,3890,2813,16971,75,150,19,181,...,603,9.725000,67984.000000,0.750000,1.0,0.750000,1.0,0.750000,0.0,0.0
56037,18426,6917,4283,4828,1554,16357,197,167,17,146,...,199,11.800000,88532.500000,0.666667,1.0,0.666667,1.0,0.666667,0.0,0.0
56039,2271,975,549,349,286,1908,2,28,4,9,...,16,7.300000,78310.000000,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0
56043,5207,2175,1956,1288,915,4689,16,33,1,66,...,196,13.600000,59362.000000,0.000000,1.0,0.000000,1.0,0.000000,0.0,0.0
56045,3894,1699,1390,918,650,3706,6,10,2,44,...,95,15.000000,68966.000000,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0

In [18]:
combined_data = pd.merge(merged_grouped_data, diabetic_df, on='FIPS', how='outer')

In [19]:
combined_data

,FIPS,POP2010,OHU2010,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,...,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20,County,State,Percentage
0,1001,29166.0,10995.0,9466.0,7878.0,3675.0,22922.0,4886.0,372.0,22.0,...,0.857143,1.0,0.857143,1.0,0.857143,0.0,0.0,Autauga County,Alabama,13
1,1003,82744.0,34255.0,28886.0,18559.0,15294.0,69163.0,9750.0,787.0,47.0,...,0.928571,1.0,0.928571,1.0,0.928571,0.0,0.0,Baldwin County,Alabama,9.3
2,1005,6638.0,2685.0,3147.0,1878.0,973.0,2992.0,3351.0,41.0,20.0,...,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0,Barbour County,Alabama,16.2
3,1009,7050.0,2748.0,2942.0,1554.0,1495.0,6170.0,178.0,25.0,5.0,...,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0,Blount County,Alabama,12.4
4,1011,7102.0,2117.0,2741.0,1563.0,818.0,1351.0,5095.0,19.0,43.0,...,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0,Bullock County,Alabama,18.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3221,56015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Goshen County,Wyoming,8.2
3222,56027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Niobrara County,Wyoming,6.6
3223,56031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Platte County,Wyoming,7.9
3224,56035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sublette County,Wyoming,7.1
3225,56041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uinta County,Wyoming,8.7

In [20]:
combined_data = combined_data.dropna(how='any')
combined_data = combined_data[combined_data.Percentage != 'No Data']
combined_data['Percentage'] = combined_data['Percentage'].astype('float')
percentages = combined_data['Percentage']
new_value = []
for x in percentages:
    new_value.append(round(x/100,3))
combined_data['Percentage'] = new_value
combined_data.head()

,FIPS,POP2010,OHU2010,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,...,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20,County,State,Percentage
0,1001,29166.0,10995.0,9466.0,7878.0,3675.0,22922.0,4886.0,372.0,22.0,...,0.857143,1.0,0.857143,1.0,0.857143,0.0,0.0,Autauga County,Alabama,0.130
1,1003,82744.0,34255.0,28886.0,18559.0,15294.0,69163.0,9750.0,787.0,47.0,...,0.928571,1.0,0.928571,1.0,0.928571,0.0,0.0,Baldwin County,Alabama,0.093
2,1005,6638.0,2685.0,3147.0,1878.0,973.0,2992.0,3351.0,41.0,20.0,...,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0,Barbour County,Alabama,0.162
3,1009,7050.0,2748.0,2942.0,1554.0,1495.0,6170.0,178.0,25.0,5.0,...,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0,Blount County,Alabama,0.124
4,1011,7102.0,2117.0,2741.0,1563.0,818.0,1351.0,5095.0,19.0,43.0,...,1.000000,1.0,1.000000,1.0,1.000000,0.0,0.0,Bullock County,Alabama,0.183

In [68]:
combined_data.to_csv("UrbanData.csv", index=False, header=True)

## From this point onwards we will be filtering the data to only see Rural areas

In [23]:
rural_new_grocery = grocerie_df[['CensusTract', 'FIPS', 'State', 'County', 'Urban', 'POP2010', 'OHU2010', 'PovertyRate', 'MedianFamilyIncome', 'TractLOWI', 'TractKids', 'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI',
       'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV', 'LA1and10', 'LAhalfand10', 'LA1and20', 
        'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20']]
rural_new_grocery = rural_new_grocery[rural_new_grocery.Urban != 1]

In [24]:
rural_new_grocery

,CensusTract,FIPS,State,County,Urban,POP2010,OHU2010,PovertyRate,MedianFamilyIncome,TractLOWI,...,TractOMultir,TractHispanic,TractHUNV,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20
7,1001020801,1001,Alabama,Autauga,0,3081,1074,13.6,74284,649,...,70,57,126,0,0,0,0,0,0,0
8,1001020802,1001,Alabama,Autauga,0,10435,3694,13.8,68713,3762,...,187,159,82,0,0,0,0,0,0,0
9,1001020900,1001,Alabama,Autauga,0,5675,2067,12.8,52994,1742,...,124,96,32,1,1,0,0,0,1,0
10,1001021000,1001,Alabama,Autauga,0,2894,1085,11.0,56317,1012,...,47,39,24,1,1,0,0,0,1,0
11,1001021100,1001,Alabama,Autauga,0,3320,1306,15.5,44395,2061,...,53,39,196,1,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72856,56041975200,56041,Wyoming,Uinta,0,6505,2340,11.2,81473,1760,...,128,187,117,0,0,0,0,0,0,0
72857,56041975300,56041,Wyoming,Uinta,0,7761,2696,9.7,71638,2060,...,572,797,68,0,0,0,0,0,0,0
72858,56041975400,56041,Wyoming,Uinta,0,6852,2632,21.6,42827,3135,...,584,871,79,0,0,0,0,0,0,0
72859,56043000200,56043,Wyoming,Washakie,0,3326,1317,15.2,67917,1013,...,172,309,56,1,1,1,0,0,1,1
72862,56045951100,56045,Wyoming,Weston,0,3314,1322,9.2,81500,671,...,62,91,108,1,1,0,0,0,1,0

In [25]:
rural_summed_grocery = rural_new_grocery[['FIPS', 'POP2010', 'OHU2010','TractLOWI', 'TractKids',
       'TractSeniors', 'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI',
       'TractAIAN', 'TractOMultir', 'TractHispanic', 'TractHUNV']]
rural_summed_grocery

,FIPS,POP2010,OHU2010,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV
7,1001,3081,1074,649,815,341,2690,278,16,0,27,70,57,126
8,1001,10435,3694,3762,2909,1060,8744,1387,61,7,49,187,159,82
9,1001,5675,2067,1742,1511,630,4835,679,20,3,14,124,96,32
10,1001,2894,1085,1012,750,347,2223,603,3,0,18,47,39,24
11,1001,3320,1306,2061,750,493,1441,1810,2,0,14,53,39,196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72856,56041,6505,2340,1760,2063,596,6302,14,13,11,37,128,187,117
72857,56041,7761,2696,2060,2387,569,7052,21,29,23,64,572,797,68
72858,56041,6852,2632,3135,1921,709,6160,20,19,2,67,584,871,79
72859,56043,3326,1317,1013,884,593,3106,6,15,0,27,172,309,56
72862,56045,3314,1322,671,655,499,3179,15,10,1,47,62,91,108

In [27]:
rural_grouped_summed = rural_summed_grocery.groupby(['FIPS']).sum()
rural_grouped_summed

,POP2010,OHU2010,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV
FIPS,,,,,,,,,,,,,
1001,25405,9226,9226,6735,2871,19933,4757,102,10,122,481,390,460
1003,99521,38925,34391,23339,15274,86990,7355,561,42,787,3786,4552,857
1005,20819,7135,9337,4137,2936,10188,9524,66,9,106,926,1070,555
1007,22915,7953,10123,5201,2906,17381,5047,22,13,64,388,406,299
1009,50272,18830,19923,12552,6944,46898,583,92,33,291,2375,3685,624
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56037,25380,9558,6908,7041,2089,22391,241,169,25,277,2277,3999,429
56039,19023,7998,4818,3727,1812,16913,47,207,11,102,1743,2746,127
56041,21118,7668,6955,6371,1874,19514,55,61,36,168,1284,1855,264
56043,3326,1317,1013,884,593,3106,6,15,0,27,172,309,56
56045,3314,1322,671,655,499,3179,15,10,1,47,62,91,108

In [28]:
rural_averaged_grocery = rural_new_grocery[['FIPS','PovertyRate', 'MedianFamilyIncome', 'LA1and10', 'LAhalfand10', 'LA1and20', 'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20']]
rural_averaged_grocery

,FIPS,PovertyRate,MedianFamilyIncome,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20
7,1001,13.6,74284,0,0,0,0,0,0,0
8,1001,13.8,68713,0,0,0,0,0,0,0
9,1001,12.8,52994,1,1,0,0,0,1,0
10,1001,11.0,56317,1,1,0,0,0,1,0
11,1001,15.5,44395,1,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
72856,56041,11.2,81473,0,0,0,0,0,0,0
72857,56041,9.7,71638,0,0,0,0,0,0,0
72858,56041,21.6,42827,0,0,0,0,0,0,0
72859,56043,15.2,67917,1,1,1,0,0,1,1
72862,56045,9.2,81500,1,1,0,0,0,1,0

In [29]:
rural_grouped_averaged = rural_averaged_grocery.groupby(['FIPS']).mean()
rural_grouped_averaged

,PovertyRate,MedianFamilyIncome,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20
FIPS,,,,,,,,,
1001,13.340000,59340.600000,0.600000,0.600000,0.000000,0.0,0.0,0.600000,0.000000
1003,14.182353,58807.705882,0.117647,0.117647,0.000000,0.0,0.0,0.117647,0.000000
1005,25.728571,42197.571429,0.428571,0.428571,0.000000,0.0,0.0,0.428571,0.000000
1007,16.025000,43362.500000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1009,17.750000,52343.375000,0.125000,0.125000,0.000000,0.0,0.0,0.125000,0.000000
...,...,...,...,...,...,...,...,...,...
56037,11.883333,75137.666667,0.166667,0.166667,0.166667,0.0,0.0,0.166667,0.166667
56039,8.366667,93303.666667,0.333333,0.333333,0.333333,0.0,0.0,0.333333,0.333333
56041,14.166667,65312.666667,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
56043,15.200000,67917.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000
56045,9.200000,81500.000000,1.000000,1.000000,0.000000,0.0,0.0,1.000000,0.000000

In [30]:
rural_merged_grouped_data = pd.merge(rural_grouped_summed, rural_grouped_averaged, on="FIPS", how="outer")
rural_merged_grouped_data

,POP2010,OHU2010,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,...,TractHUNV,PovertyRate,MedianFamilyIncome,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20
FIPS,,,,,,,,,,,,,,,,,,,,,
1001,25405,9226,9226,6735,2871,19933,4757,102,10,122,...,460,13.340000,59340.600000,0.600000,0.600000,0.000000,0.0,0.0,0.600000,0.000000
1003,99521,38925,34391,23339,15274,86990,7355,561,42,787,...,857,14.182353,58807.705882,0.117647,0.117647,0.000000,0.0,0.0,0.117647,0.000000
1005,20819,7135,9337,4137,2936,10188,9524,66,9,106,...,555,25.728571,42197.571429,0.428571,0.428571,0.000000,0.0,0.0,0.428571,0.000000
1007,22915,7953,10123,5201,2906,17381,5047,22,13,64,...,299,16.025000,43362.500000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1009,50272,18830,19923,12552,6944,46898,583,92,33,291,...,624,17.750000,52343.375000,0.125000,0.125000,0.000000,0.0,0.0,0.125000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56037,25380,9558,6908,7041,2089,22391,241,169,25,277,...,429,11.883333,75137.666667,0.166667,0.166667,0.166667,0.0,0.0,0.166667,0.166667
56039,19023,7998,4818,3727,1812,16913,47,207,11,102,...,127,8.366667,93303.666667,0.333333,0.333333,0.333333,0.0,0.0,0.333333,0.333333
56041,21118,7668,6955,6371,1874,19514,55,61,36,168,...,264,14.166667,65312.666667,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
56043,3326,1317,1013,884,593,3106,6,15,0,27,...,56,15.200000,67917.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000
56045,3314,1322,671,655,499,3179,15,10,1,47,...,108,9.200000,81500.000000,1.000000,1.000000,0.000000,0.0,0.0,1.000000,0.000000

In [32]:
rural_combined_data = pd.merge(rural_merged_grouped_data, diabetic_df, on='FIPS', how='outer')
rural_combined_data

,FIPS,POP2010,OHU2010,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,...,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20,County,State,Percentage
0,1001,25405.0,9226.0,9226.0,6735.0,2871.0,19933.0,4757.0,102.0,10.0,...,0.600000,0.600000,0.0,0.0,0.0,0.600000,0.0,Autauga County,Alabama,13
1,1003,99521.0,38925.0,34391.0,23339.0,15274.0,86990.0,7355.0,561.0,42.0,...,0.117647,0.117647,0.0,0.0,0.0,0.117647,0.0,Baldwin County,Alabama,9.3
2,1005,20819.0,7135.0,9337.0,4137.0,2936.0,10188.0,9524.0,66.0,9.0,...,0.428571,0.428571,0.0,0.0,0.0,0.428571,0.0,Barbour County,Alabama,16.2
3,1007,22915.0,7953.0,10123.0,5201.0,2906.0,17381.0,5047.0,22.0,13.0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,Bibb County,Alabama,13.7
4,1009,50272.0,18830.0,19923.0,12552.0,6944.0,46898.0,583.0,92.0,33.0,...,0.125000,0.125000,0.0,0.0,0.0,0.125000,0.0,Blount County,Alabama,12.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3221,51820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Waynesboro City,Virginia,9.2
3222,51830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Williamsburg City,Virginia,9.3
3223,51840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winchester City,Virginia,8.5
3224,53013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Columbia County,Washington,8.6
3225,54021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gilmer County,West Virginia,12.8

In [70]:
rural_combined_data = rural_combined_data.dropna(how='any')
rural_combined_data = rural_combined_data[rural_combined_data.Percentage != 'No Data']
rural_combined_data['Percentage'] = rural_combined_data['Percentage'].astype('float')
rural_percentages = rural_combined_data['Percentage']
new_value_rural = []
for x in rural_percentages:
    new_value_rural.append(round(x/100,3))
rural_combined_data['Percentage'] = new_value_rural
rural_combined_data

C:\Users\ASush\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,FIPS,POP2010,OHU2010,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,...,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20,County,State,Percentage
0,1001,25405.0,9226.0,9226.0,6735.0,2871.0,19933.0,4757.0,102.0,10.0,...,0.600000,0.600000,0.000000,0.0,0.0,0.600000,0.000000,Autauga County,Alabama,0.130
1,1003,99521.0,38925.0,34391.0,23339.0,15274.0,86990.0,7355.0,561.0,42.0,...,0.117647,0.117647,0.000000,0.0,0.0,0.117647,0.000000,Baldwin County,Alabama,0.093
2,1005,20819.0,7135.0,9337.0,4137.0,2936.0,10188.0,9524.0,66.0,9.0,...,0.428571,0.428571,0.000000,0.0,0.0,0.428571,0.000000,Barbour County,Alabama,0.162
3,1007,22915.0,7953.0,10123.0,5201.0,2906.0,17381.0,5047.0,22.0,13.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,Bibb County,Alabama,0.137
4,1009,50272.0,18830.0,19923.0,12552.0,6944.0,46898.0,583.0,92.0,33.0,...,0.125000,0.125000,0.000000,0.0,0.0,0.125000,0.000000,Blount County,Alabama,0.124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3087,56037,25380.0,9558.0,6908.0,7041.0,2089.0,22391.0,241.0,169.0,25.0,...,0.166667,0.166667,0.166667,0.0,0.0,0.166667,0.166667,Sweetwater County,Wyoming,0.084
3088,56039,19023.0,7998.0,4818.0,3727.0,1812.0,16913.0,47.0,207.0,11.0,...,0.333333,0.333333,0.333333,0.0,0.0,0.333333,0.333333,Teton County,Wyoming,0.042
3089,56041,21118.0,7668.0,6955.0,6371.0,1874.0,19514.0,55.0,61.0,36.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,Uinta County,Wyoming,0.087
3090,56043,3326.0,1317.0,1013.0,884.0,593.0,3106.0,6.0,15.0,0.0,...,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,Washakie County,Wyoming,0.087
3091,56045,3314.0,1322.0,671.0,655.0,499.0,3179.0,15.0,10.0,1.0,...,1.000000,1.000000,0.000000,0.0,0.0,1.000000,0.000000,Weston County,Wyoming,0.078

In [71]:
rural_combined_data.to_csv("RuralData.csv", index=False, header=True)